
html, body {
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: Tahoma, sans-serif;
}
#spinner {
	background: url('../img/spinner.gif');
	width: 32px;
	height: 32px;
	margin: 200px auto;
	display: none;
}
#input {
	width: 200px;
	margin: 200px auto;
} 
#input input {
	padding: 3px 3px 3px 10px;
}

#should-follow {
	display: none;
}
.should-follow-title {
	font-size: 20px;
	font-style: italic;
	color: #666;
	margin-left: 18px;
}

#results {
	width: 620px;
	margin: 20px auto;
	padding: 10px;
}
#results .user {
	display: none; /* gets set by js when user info is received */
	text-decoration: none;
	color: #666;
	background-color: #ddd;
	font-size: 13px;
	clear: both;
	padding: 10px 0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	margin: 20px;
	border: 5px solid #bbb;
	position: relative;
	height: 52px;
}
#results .user .info-bit {
	display: block;
	margin-left: 78px;
}
#results .user .icon {
	float: left;
	width: 48px;
	height: 48px;
	position: absolute;
	top: 10px;
	left: 10px;
}

#results .user .name {
	color: #444444;
	font-size: 16px;
	font-weight: bold;
}

#results .user .follower-stats span {
	display: inline;
}

#results .user:hover {
	background-color: #fdfdfd;
}

#results .user .description {
	font-size: 14px;
	margin-left: 76px;
}

#should-follow {
	width: 100%;
}

/*#already-following {
	float: left;
	width: 150px;
	margin-left: 450px;
	background-color: #eee;
}
*/

#error {
	display: none;
	text-align: center;
	width: 300px;
	margin: 200px auto;
	color: #333;
}